<h2 id="all-questions-desc" class="all-questions__desc">{{ label }}</h2>

<form [formGroup]="allQuestionsForm" (ngSubmit)="submit()" class="all-questions__form">
    <div class="all-questions__group">
        <label class="all-questions__label" for="everWorried">
            Você já se preocupou em receber notícias falsas (fake news) pela internet?
            <span class="required">*</span>
        </label>
        <div class="all-questions__options">
            <label *ngFor="let option of everWorriedOptions">
                <input type="radio" formControlName="everWorried" [value]="option.value"
                    [required]="option.value === 'sim'" />
                {{ option.label }}
            </label>
        </div>
    </div>

    <div class="all-questions__group">
        <label class="all-questions__label" for="fakeNewsFrequency">
            Com que frequência você verifica se uma notícia é verdadeira antes de compartilhar?
            <span class="required">*</span>
        </label>
        <div class="all-questions__options">
            <label *ngFor="let option of fakeNewsFrequencyOptions">
                <input type="radio" formControlName="fakeNewsFrequency" [value]="option.value"
                    [required]="option.value === 'sempre'" />
                {{ option.label }}
            </label>
        </div>

    </div>

    <div class="all-questions__group">
        <label class="all-questions__label" for="interestedInAI">
            Você teria interesse em usar uma ferramenta que identifica automaticamente fake news usando inteligência
            artificial?
            <span class="required">*</span>
        </label>
        <div class="all-questions__options">
            <label *ngFor="let option of interestedInAIOptions">
                <input type="radio" formControlName="interestedInAI" [value]="option.value"
                    [required]="option.value === 'sim'" />
                {{ option.label }}
            </label>
        </div>

    </div>

    <div class="all-questions__group">
        <label class="all-questions__label">
            Quais funcionalidades você considera mais importantes em uma ferramenta de verificação de notícias?
            <span class="required">*</span><br>
            <small>(Selecione pelo menos uma opção)</small>
        </label>
        <div class="all-questions__options">
            <label *ngFor="let option of functionalitiesOptions">
                <input type="checkbox" [checked]="allQuestionsForm.value['functionalities']?.includes(option)"
                    (change)="onCheckboxChange($event, 'functionalities')" [value]="option" />
                {{ option }}
            </label>
            <!-- Comentado Enquanto Método onOtherInputChange com problema -->
            <!-- <label class="all-questions__other">
                <input type="checkbox" name="functionalities_other"
                    [checked]="allQuestionsForm.value['functionalities']?.includes(otherInputs['functionalities'])"
                    (change)="onCheckboxChange($event, 'functionalities')" value="Outro:" />
                Outro:
                <input *ngIf="allQuestionsForm.value['functionalities']?.includes('Outro:')" type="text"
                    [value]="otherInputs['functionalities']" class="all-questions__other-input"
                    (input)="onOtherInputChange('functionalities', $event)"
                    placeholder="Descreva" />
            </label> -->

        </div>
    </div>

    <div class="all-questions__group">
        <label class="all-questions__label">
            Quais são seus maiores receios em relação ao uso de uma ferramenta de IA para verificação de notícias?
            <span class="required">*</span><br>
            <small>(Selecione pelo menos uma opção)</small>
        </label>
        <div class="all-questions__options">
            <label *ngFor="let option of biggestConcernsOptions">
                <input type="checkbox" [checked]="allQuestionsForm.value['biggestConcerns']?.includes(option)"
                    (change)="onCheckboxChange($event, 'biggestConcerns')" [value]="option" />
                {{ option }}
            </label>
            <!-- Comentado Enquanto Método onOtherInputChange com problema -->
            <!-- <label class="all-questions__other">
                <input type="checkbox" name="biggestConcerns_other"
                    [checked]="allQuestionsForm.value['biggestConcerns']?.includes(otherInputs['biggestConcerns'])"
                    (change)="onCheckboxChange($event, 'biggestConcerns')" value="Outro:" />
                Outro:
                    <input *ngIf="allQuestionsForm.value['biggestConcerns']?.includes('Outro:')"
                    type="text" [value]="otherInputs['biggestConcerns']"
                    (input)="onOtherInputChange('biggestConcerns', $event)"
                    class="all-questions__other-input" placeholder="Descreva" />
            </label> -->
        </div>
    </div>

    <button type="submit" class="all-questions__submit" [disabled]="allQuestionsForm.invalid">Enviar</button>
</form>