<h2 id="consent-form__desc" class="consent-form__desc">{{ label }}</h2>

<form [formGroup]="consentForm" (ngSubmit)="submit()" class="consent-form">
    <div>
      <label class="consent-form__question">
        Você autoriza o envio de e-mails com novidades e atualizações sobre a automatização da pesquisa e verificação de fake news?
        <span class="required">*</span>
      </label>
      <div>
        <label>
          <input type="radio" formControlName="concentUpdates" value="sim" required />
          Sim, autorizo
        </label>
        <label>
          <input type="radio" formControlName="concentUpdates" value="nao" required />
          Não autorizo
        </label>
      </div>
      <div *ngIf="consentForm.get('concentUpdates')?.invalid && consentForm.get('concentUpdates')?.touched" class="error">
        Por favor, selecione uma opção.
      </div>
    </div>
  
    <div>
      <label for="commentaries">
        Deixe um comentário ou sugestão sobre como a ferramenta poderia te ajudar:
      </label>
      <textarea
        id="commentaries"
        formControlName="commentaries"
        placeholder="Digite aqui seu comentário ou sugestão (opcional)"
        rows="4"
      ></textarea>
    </div>
  
    <button type="submit">Enviar</button>
  </form>
  