<div class="container">
  <div class="header">
    <img src="assets/logo.png" alt="LOW GO" />
  </div>
  <div class="content">
    <h1 class="hero-title">Ferramenta de Verificação de Fake News com IA</h1>
    <section>
      <h2 class="impact-text">Ajude-nos a entender como podemos combater as fake news com tecnologia! Responda algumas
        perguntas rápidas sobre
        seus interesses e preocupações.</h2>
        <button (click)="goToProfile()">Começar</button>
    </section>
    <section>
      <app-profile></app-profile>
      <app-all-questions></app-all-questions>  
    </section>
      <div class="footer">
        <p>Desenvolvido por [Seu Nome] - [Ano]</p>
        <p>GitHub: [Seu GitHub]</p>
        <p>LinkedIn: [Seu LinkedIn]</p>
      </div>
  </div>
</div>