<h2 id="companion-text" class="profile-form__desc">{{ label }}</h2>

<form [formGroup]="profileForm" (ngSubmit)="submit()" class="profile-form">
  <div>
    <label for="name">Nome<span class="required">*</span></label>
    <input id="name" formControlName="name" required />
  </div>
  <div>
    <label for="age">Data de Nascimento <span class="required">*</span></label>
    <input id="age" formControlName="dateOfBirth" type="date" required />
  </div>
  <div>
    <label for="email">Email <span class="required">*</span></label>
    <input id="email" formControlName="email" placeholder="exemplo@email.com" required />
  </div>
  <button type="submit">Enviar</button>
</form>
